/* 全站统一 Arial */
html, body,
p, li, span, a, div {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* 标题 */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* academicpages 特殊标题 */
.section-title {
  font-family: Arial, Helvetica, sans-serif !important;
}
